name: Test

on:
  pull_request:
    branches: [ master ]

permissions:
  contents: read

jobs:
  test_groovy:
    name: Groovy
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
      with:
        distribution: 'temurin'
        java-version: '21'
        cache: 'gradle'

    - name: Run Groovy Tests
      working-directory: adopt-github-release
      run: ./gradlew --info test

  test_node:
    name: Node
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      with:
        node-version: '20'
        cache: 'npm'
        cache-dependency-path: 'generate-release-notes/generate-release-notes/package-lock.json'

    - name: Install Node Dependencies
      working-directory: generate-release-notes/generate-release-notes
      run: npm install

    - name: Run Tests
      working-directory: generate-release-notes/generate-release-notes
      run: npm test
