name: Test

on:
  pull_request:
    branches: [ master ]

permissions:
  contents: read

jobs:
  test_groovy:
    name: Groovy
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
      with:
        distribution: 'temurin'
        java-version: '21'
        cache: 'gradle'

    - name: Run Groovy Tests
      working-directory: adopt-github-release
      run: ./gradlew --info test

  test_node:
    name: Node
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
      with:
        node-version: '20'
        cache: 'npm'
        cache-dependency-path: 'generate-release-notes/generate-release-notes/package-lock.json'

    - name: Install Node Dependencies
      working-directory: generate-release-notes/generate-release-notes
      run: npm install

    - name: Run Tests
      working-directory: generate-release-notes/generate-release-notes
      run: npm test
