name: Test

on:
  pull_request:
    branches: [ master ]

permissions:
  contents: read

jobs:
  test_groovy:
    name: Groovy
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4.7.1
      with:
        distribution: 'temurin'
        java-version: '21'
        cache: 'gradle'

    - name: Run Groovy Tests
      working-directory: adopt-github-release
      run: ./gradlew --info test

  test_node:
    name: Node
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
      with:
        node-version: '20'
        cache: 'npm'
        cache-dependency-path: 'generate-release-notes/generate-release-notes/package-lock.json'

    - name: Install Node Dependencies
      working-directory: generate-release-notes/generate-release-notes
      run: npm install

    - name: Run Tests
      working-directory: generate-release-notes/generate-release-notes
      run: npm test
